@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    * {
        letter-spacing: 0.15em;
        scroll-behavior: smooth !important;
    }
    body {
        scroll-behavior: smooth !important;
        font-family: "Poppins", sans-serif !important;
    }

    .gradient__border_1 {
        border: 1px solid transparent;
        background-image: linear-gradient(to right, #ff0000, #0000ff);
    }
    .gradient__course_border_1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gradient__course_border_1::before {
        content: "";
        position: absolute;
        width: 280px;
        height: 140%;
        background: linear-gradient(to top, #967dff, #fea115bc);
        z-index: -1;
        animation: rotate 8s infinite linear;
    }
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .title {
        font-family: "Playfair Display", serif !important;
    }

    .shadow__1 {
        -webkit-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
    }

    .shadow__2 {
        -webkit-box-shadow: 10px 10.5px 10px -0.5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 10px 10.5px 10px -0.5px rgba(0, 0, 0, 0.3);
        box-shadow: 10px 10.5px 10px -0.5px rgba(0, 0, 0, 0.3);
    }

    /*  */
    button {
        @apply duration-300 scale-100 active:scale-95;
    }
}
